@charset "utf-8";
.main_visual {
  padding-top: 200px;
  }

.main_visual p {
  text-align: center;
  font-size: 16px;
  line-height: 2.5;
}
@media screen and (max-width:767px) {
  .main_visual p {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    text-align: left;
    line-height: 2;
  }
  .button {
    margin-top: 50px;
  }
  .btn {
    font-size: 12px;
  }
}