@charset "utf-8";
/* ヘッダー＆メインビジュアル */
.main{
  position: relative;
}
.main_visual_circle{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 100%;
  max-width: 12.811%;
  animation: 20s linear infinite rotation1;
}
@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
/* SCROLL */
.scrolldown1 {
  text-align: center;
  position: relative;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 90px;
}
.scrolldown1::after {
  animation: scroll 2s infinite;
  background-color: #45465a;
  bottom: -60px;
  content: "";
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
}

@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/* ヘッダー */
.header_inner{
  &.fixed {
    position: fixed;
    top: 0;
    }
  }

/* about */
#about {
  max-width: 1000px;
  margin: 0 auto;
}
.about {
  display: flex;
  gap: 80px;
  align-items: center;
}
#about h3 {
  margin-bottom: 50px;
  font-size: 18px;
}
.about p {
  max-width: 450px;
  line-height: 2.5;
  font-size: 16px;
}
.effect-fade {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}
.about_image_cat:hover {
  cursor: url(../img_pc/caticon.png),auto;
}
.about_image_cat {
  margin: 100px auto 0 auto;
  width: 20%;
  animation:katakata 6s infinite ease-in-out alternate;
}
/* カタカタ揺らす */
@keyframes katakata {
  0% {transform:translate(0, 0) rotate(0deg);}
  21% {transform:translate(0, 0) rotate(0deg);}
  22% {transform:translate(0, 0) rotate(-3deg);}
  23% {transform:translate(0, -1px) rotate(0deg);}
  24% {transform:translate(0, -1px) rotate(3deg);}
  25% {transform:translate(1px, 0) rotate(-2deg);}
  26% {transform:translate(0, 1px) rotate(0deg);}
  27% {transform:translate(0, 0) rotate(3deg);}
  28% {transform:translate(0, 0) rotate(0deg);}
  100% {transform:translate(0, 0) rotate(0deg);}
}
/* works */
#works {
  max-width: 1150px;
  margin: 0 auto;
}
#works ul {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 0 10px;
}
#works ul li p {
  margin-top: 25px;
  color: #ac8951;
}
#works h3 {
  margin-top: 10px;
}
.fadein {
  opacity : 0;
  transition : all 3s;
}
.fadein.active{
  opacity : 1;
}
/* お問い合わせ */
hr.style1{
  border-top: 1px solid #ac8951;
  max-width: 80%;
  }
.c-form {
  max-width: 600px;
  margin: 0 auto;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.c-form__label,
.c-form__input {
  padding: 10px;
}
.c-form__label {
  width: 90%;
  font-size: 18px;
}
.c-form__input {
  width: 90%;
  font-size: 16px;
  border: solid 1px #45465a;
}
.c-form__input:focus-visible {
  outline: #ac8951 auto 1px;
}
.c-form__required {
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form__input {
  height: 160px;
}
.c-form__submit {
  text-align: center;
}
.c-form__submit button {
  font-size: 16px;
  color: #fff;
  background-color: #ac8951;
  border: solid 1px #ac8951;
  padding: 12px 80px;
  transition: 0.4s;
  cursor: pointer;
}
.c-form__submit button:hover {
  color: #45465a;
  background-color: transparent;
}
/* TOPへ戻るボタン
.toTOP{
  bottom: 50px;
  right: 5%;
} */
/* ヘッダー＆メインビジュアル */
@media screen and (max-width:767px) {

  .main{
    padding-top: 160px;
  }
  .main_visual_circle {
    width: auto;
    max-width: none;
    min-width: auto;
    bottom: auto;
  }
  .scrolldown1 {
    margin-top: 250px;
  }
/* about */
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  #about h3 {
    margin-bottom: 40px;
  }
  .about_image {
    width: 70%;
  }
  .about p {
    text-align: left;
    margin: 0 25px;
  }
  #works ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .works_inner {
    margin: 0 25px;
  }
  .button {
    margin-top: 50px;
  }
  .btn {
    font-size: 12px;
  }
  #contact form {
    width: 80%;
  }
}